flask==3.1.1
flask-cors==6.0.1
Flask-SocketIO==5.5.1
inference-sdk==0.50.4
load-dotenv==0.1.0
pillow==11.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.12.2
python-socketio==5.13.0
requests==2.32.3
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tflite-runtime==2.5.0.post1
uuid==1.30