# Maven target directory
*/target/

# Git
*/.git
*/.gitignore

*/# IDE settings
*/.idea/
*/.vscode/

# OS files
*/.DS_Store
*/Thumbs.db

# Docker files themselves
*/Dockerfile.*
*/docker-compose.yml

# Frontend
*/node_modules